# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
x64/
x86/
Debug/
Release/
build/
bin/
obj/

# Cache and intermediate files
*.ipch
*.obj
*.pch
*.pdb
*.ilk
*.log
*.tlog
*.idb

# Compiled binaries
*.exe
*.dll
*.lib
*.exp

# Other
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Backup files
*.bak

# OS files
Thumbs.db
desktop.in
